/*@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
*/
@font-face {
  font-family: "Roboto";
  src: "components/data/fonts/Roboto-Regular.ttf";
}
@font-face {
  font-family: "Courier Prime";
  src: "components/data/fonts/CourierPrime-Regular.ttf";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #70ff00;
  --primaryColorOpacity: rgba(112, 255, 0, 0.19);
  --secondaryColor: #4f4f4f;
  --primaryBgColor: #333333;
  --thirdColor: #828282;
  --btnSendMailColor: rgba(234, 67, 53, 0.33);
  --projectBgColor: rgba(76, 76, 76, 0.66);
  --white: #fff;
  --green: #70ff00;
  --hireText: #161616;
  --darkBgColor: #161616;

  --border-raduis: 13px;
}

body {
  color: var(--white) !important;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
  background: linear-gradient(
      130.36deg,
      #000000 0%,
      #272727 44.03%,
      #494949 99.99%,
      #727272 100%
    )
    no-repeat;
  background-size: cover;
  z-index: 1;
}

/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      130.36deg,
      #000000 0%,
      #272727 44.03%,
      #494949 99.99%,
      #727272 100%
    )
    no-repeat;
  z-index: -1;
} */

.to-top {
  z-index: 2 !important;
}

/* ================= floating menu ========= */
.floatingMenu {
  position: fixed;
  top: 0;
  right: -23px;
  z-index: 999;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  gap: 3px;
  /* backdrop-filter: blur(10px) !important; */
}
.floatingMenu .floatingItem {
  position: relative;
  border-radius: 8px !important;
  padding-left: 10px;
  backdrop-filter: blur(10px) !important;
}
/* ================= floating menu ========= */

/* ================= navbar =============== */
nav {
  /* height: 59px; */
  height: 10vh;
  overflow: hidden;
  /* background-color: #0000000e; */
  transition: 0.5s;
  z-index: 999;

  /* position: fixed; */
  backdrop-filter: blur(10px) !important;
}
.nav-logo img {
  height: 25px;
}
.nav-right .icon {
  width: 23px;
  transition: 0.5s;
}
.nav-right .item:last-child {
  border: 2px solid rgba(112, 255, 0, 0.55);
  border-bottom: 2px solid var(--white);
  padding: 2px 10px;
  border-radius: var(--border-raduis);
  transition: 0.5s;
}

a {
  color: var(--white) !important;
  transition: 0.5s;
}
a,
a.t-gr:hover {
  text-decoration: none !important;
}
a:hover {
  color: var(--primaryColor) !important;
}

@media screen and (max-width: 767px) {
  .nav-right .item:last-child {
    transition: 0.5s;
    padding: 1px 10px;
  }
}
/* ================= navbar =============== */

/* ================= banner =============== */
#home {
  position: relative;
  height: auto;
  /* height: 90vh; */
}

#home .row {
  width: 100vw;
}

.num {
  color: var(--secondaryColor);
  font-size: 50px;
}
.num-text {
  color: var(--thirdColor);
  font-size: 15px;
}
.hello {
  color: var(--white);
  font-size: 35px;
}
.role {
  color: var(--white);
  font-size: 20px;
}
.name {
  color: var(--primaryColor);
  font-size: 45px;
  /* width: 285px; */
}

.avatar {
  position: relative;
  width: 100%;
}
.avatar img {
  width: 400px;
}

.t-gr {
  color: var(--primaryColor) !important;
}

/* @media screen and (min-width: 992px) {
  #home .row {
    width: 100vw;
  }
} */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .avatar img {
    width: 350px;
  }
}

@media screen and (max-width: 767px) {
  #home {
    position: relative;
    height: auto;
  }
  .avatar img {
    width: 300px;
  }
  .num {
    color: var(--secondaryColor);
    font-size: 40px;
  }
  .num-text {
    color: var(--thirdColor);
    font-size: 12px;
  }
  .hello {
    color: var(--white);
    font-size: 20px;
  }
  .role {
    color: var(--white);
    font-size: 20px;
  }
  .name {
    color: var(--primaryColor);
    font-size: 35px;
    /* width: 285px; */
  }
}
/* ================= banner =============== */

.heading {
  font-size: 35px;
  font-weight: bold;
}
.heading span {
  color: var(--primaryColor);
}
@media screen and (max-width: 767px) {
  .heading {
    font-size: 25px;
  }
}

/* ================= about ================ */
#about {
  position: relative;
  z-index: 1;
}
#about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../public/images/grid_bg.png");
  background-size: cover;
  /* background-attachment: fixed; */
  opacity: 0.15;
}

.aboutDiv {
  position: relative;
}
.aboutDiv .bubble {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
}
.bubble .MuiAvatar-circular {
  background-color: var(--primaryBgColor);
}

button,
.btn {
  border: none;
  outline: none;
  background: none;
  /* font-size: 17px; */
  color: var(--white) !important;
  font-family: "Courier Prime", monospace !important;
  text-transform: capitalize !important;
  /* padding: 5px 20px !important; */
  border-radius: var(--border-raduis);
  cursor: pointer;
  display: flex;
  gap: 15px;
}

.btn.primaryBtn {
  background-color: var(--primaryColorOpacity);
}
.btn.primaryBtn .MuiButton-endIcon {
  color: var(--primaryColor) !important;
}
.btn.secondaryBtn {
  background-color: var(--secondaryColor);
}
.btn.secondaryBtn .MuiButton-endIcon {
  color: #1e1e1e !important;
}
.btn.hireBtn {
  background-color: var(--primaryColor);
  color: var(--hireText) !important;
  text-decoration: underline !important;
}
.btn.hireBtn .MuiButton-endIcon {
  color: var(--darkBgColor) !important;
}

.description {
  font-size: 20px !important;
  text-align: justify !important;
}

.aboutBox {
  background-color: var(--secondaryColor);
  border-radius: var(--border-raduis);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 25px 49px;
  color: var(--white);
}
.aboutBox .text {
  color: var(--white);
  font-weight: bold;
  font-size: 25px;
  font-family: "Courier Prime", monospace !important;
}

@media screen and (max-width: 767px) {
  .description {
    font-size: 15px !important;
  }
  /* #about button,
  #about .btn {
    padding: 5px 15px !important;
  } */
  .aboutBox {
    align-items: flex-start;
    gap: 1rem;
    padding: 25px 30px;
  }
  .aboutBox .text {
    font-size: 20px;
  }
}
/* ================= about ================ */

/* ================= skills ================ */
#skills {
  background-color: var(--darkBgColor) !important;
}

.technos {
}
.technos .tech {
}
/* ================= skills ================ */

/* ================= projects ================ */
.categoryBtn {
  border: 3px solid var(--primaryColor);
  padding: 14px 61px;
}
.t-code {
  font-family: "Courier Prime", monospace !important;
}

a.t-gr:hover {
  text-decoration: none !important;
}
a:hover {
  color: var(--primaryColor);
}
a.t-gr {
  text-decoration: underline;
}

.projects,
.grid3 {
  grid-template-columns: repeat(3, 1fr);
}
.projectBox {
  position: relative;
  width: 486px;
  height: 406px;
  border-radius: var(--border-raduis);
  border: 2px solid var(--white);
  background-color: var(--projectBgColor);
}
.projectBox {
  backdrop-filter: blur(17px);
}
.projectBox .img {
  position: relative;
  width: 100%;
  height: 321px;
}
.projectBox:hover .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.39);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.projectBox .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projectBox .body h3 {
  font-size: 30px;
  color: var(--white);
  font-weight: bold;
}
.projectBox .body p {
  font-size: 23px;
  color: var(--white);
}
/* ================= projects ================ */

/* ================= contact me ================ */
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  width: 593px;
}

.socialBox {
  background-color: var(--primaryBgColor);
  border-radius: var(--border-raduis);
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 90px;
  width: 593px;
  color: var(--white);
}
.socialBox .text {
  color: var(--white);
  font-weight: bold;
  font-size: 40px;
}

form .contactForm {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 679px;
}

input,
textarea {
  width: 100%;
  padding: 22px 50px;
  bottom: none;
  outline: none;
  margin: 10px 0;
  border-radius: var(--border-raduis);
  border: 2px solid var(--primaryColor);
  font-size: 32px;
  color: var(--primaryColor);
}

.btn.send {
  gap: 24px;
}
.btn.send img {
  width: 29px;
  height: 30px;
}
/* ================= contact me ================ */
