/*@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
*/
@font-face {
  font-family: "Roboto";
  src: "components/data/fonts/Roboto-Regular.ttf";
}
@font-face {
  font-family: "Courier Prime";
  src: "components/data/fonts/CourierPrime-Regular.ttf";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #70ff00;
  --primaryColorOpacity: rgba(112, 255, 0, 0.19);
  --secondaryColor: #4f4f4f;
  --primaryBgColor: #333333;
  --thirdColor: #828282;
  --btnSendMailColor: rgba(234, 67, 53, 0.33);
  --projectBgColor: rgba(76, 76, 76, 0.66);
  --white: #fff;
  --green: #70ff00;
  --hireText: #161616;
  --darkBgColor: #161616;

  --borderRadius: 8px;

  --joy-palette-background-backdrop: rgba(
    var(--joy-palette-neutral-darkChannel, 37 37 45) / 0.5
  ) !important;
}

body {
  color: var(--white) !important;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
  background: linear-gradient(
      130.36deg,
      #000000 0%,
      #272727 44.03%,
      #494949 99.99%,
      #727272 100%
    )
    no-repeat;
  background-size: cover;
  z-index: 1;
}

/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      130.36deg,
      #000000 0%,
      #272727 44.03%,
      #494949 99.99%,
      #727272 100%
    )
    no-repeat;
  z-index: -1;
} */

.to-top {
  z-index: 2 !important;
}
/* .to-top button {
  border-radius: 50% !important;
} */

/* ================= floating menu ========= */
.floatingMenu {
  position: fixed;
  top: 0;
  right: -35px;
  z-index: 999;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  gap: 3px;
  /* backdrop-filter: blur(10px) !important; */
}
.floatingMenu .floatingItem {
  position: relative;
  border-radius: 8px !important;
  padding-left: 5px;
  backdrop-filter: blur(10px) !important;
}
.floatingMenu .floatingItem img {
  width: 20px;
}
/* ================= floating menu ========= */

/* ================= navbar =============== */

.nav-section {
  /* background-color: var(--projectBgColor); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(40px) !important;
  z-index: 999;
}

nav {
  height: 59px;
  /* height: 10vh; */
  overflow: hidden;
  transition: 0.5s;
}
.nav-logo img {
  height: 25px;
}
.nav-right .icon {
  width: 23px;
  transition: 0.5s;
}
.nav-right .item:last-child {
  border: 2px solid rgba(112, 255, 0, 0.55);
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  padding: 2px 10px;
  border-radius: var(--borderRadius);
  transition: 0.5s;
}

a {
  color: var(--white) !important;
  transition: 0.5s;
}
a,
a.t-gr:hover {
  text-decoration: none !important;
}
a:hover {
  color: var(--primaryColor) !important;
}
a:hover img.icon {
  filter: brightness(0) saturate(100%) invert(72%) sepia(74%) saturate(1816%)
    hue-rotate(45deg) brightness(109%) contrast(112%);
}

@media screen and (max-width: 767px) {
  .nav-right .item:last-child {
    transition: 0.5s;
    padding: 1px 10px;
  }
  nav {
    height: 59px;
  }
}
/* ================= navbar =============== */

/* ================= banner =============== */
#home {
  position: relative;
  height: auto;
  /* height: 90vh; */
}

#home .row {
  width: 100vw;
}

#home .num {
  color: var(--secondaryColor);
  font-size: 50px;
}
#home .num-text {
  color: var(--thirdColor);
  font-size: 15px;
}
#home .hello {
  color: var(--white);
  font-size: 35px;
}
#home .role {
  color: var(--white);
  font-size: 20px;
}
#home .name {
  color: var(--primaryColor);
  font-size: 45px;
  /* width: 285px; */
}


.t-gr {
  color: var(--primaryColor) !important;
}

/* @media screen and (min-width: 992px) {
  #home .row {
    width: 100vw;
  }
} */

@media screen and (max-width: 767px) {
  #home {
    position: relative;
    height: auto;
  }
  #home .num {
    color: var(--secondaryColor);
    font-size: 40px;
  }
  #home .num-text {
    color: var(--thirdColor);
    font-size: 12px;
  }
  #home .hello {
    color: var(--white);
    font-size: 20px;
  }
  #home .role {
    color: var(--white);
    font-size: 20px;
  }
  #home .name {
    color: var(--primaryColor);
    font-size: 35px;
    /* width: 285px; */
  }
}

/*@media screen and (max-width: 426px) {
	#home .name {
    font-size: 30px;
  }
}*/

/*------ avatar --------*/

#home .circularAvatar {
  width: 100%;
  background-color: #2D2D2D;
  box-shadow: 0px 5px 34px 2px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
#home .circularAvatar .img {
  width: 85%;
  height: 85%;
  overflow: hidden;
  transition: 0.5s;
}
#home .circularAvatar .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home .circularAvatar .tech {
  background-color: #363636;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.circularAvatar .tech img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  background-color: var(--primaryBgColor);
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.06);
}

.circularAvatar .tech.t1 {
  width: 90px;
  height: 90px;
  bottom: 10%;
  left: 3%;
}
.circularAvatar .tech.t2 {
  width: 70px;
  height: 70px;
  bottom: 4%;
  right: 6%;
}
.circularAvatar .tech.t3 {
  width: 60px;
  height: 60px;
  top: 13%;
  right: 5%;
}

.circularAvatar .dot {
  border-radius: 50%;
  position: absolute;
  transition: 0.5s;
}
.circularAvatar .dot.d1 {
  background-color: var(--secondaryColor);
  width: 20px;
  height: 20px;
  top: 15%;
  left: 0;
}
.circularAvatar .dot.d2 {
  background-color: #BDBDBD;
  width: 10px;
  height: 10px;
  bottom: 35%;
  right: -5%;
}
.circularAvatar .dot.d3 {
  background-color: #222222;
  width: 30px;
  height: 30px;
  top: -5%;
  right: 0;
}


@media screen and (max-width: 991px) {
  #home .circularAvatar {
		width: 300px;
		height: 300px;
	}
	.tech.t1 {
		width: 70px;
		height: 70px;
	}
	.tech.t2 {
		width: 55px;
		height: 55px;
	}
	.tech.t3 {
		width: 45px;
		height: 45px;
	}
	
	.dot.d1 {
		width: 15px;
		height: 15px;
	}
	.dot.d2 {
		width: 7px;
		height: 7px;
	}
	.dot.d3 {
		width: 25px;
		height: 25px;
	}
}

@media screen and (max-width: 767px) {
  #home .circularAvatar {
		width: 250px;
		height: 250px;
	}
	.tech.t1 {
		width: 60px;
		height: 60px;
	}
	.tech.t2 {
		width: 50px;
		height: 50px;
	}
	.tech.t3 {
		width: 45px;
		height: 45px;
	}
	
	.dot.d1 {
		width: 15px;
		height: 15px;
	}
	.dot.d2 {
		width: 7px;
		height: 7px;
	}
	.dot.d3 {
		width: 20px;
		height: 20px;
	}
}


.tech.t1, .tech.t2 {
  animation: icon-beat infinite 1s linear !important;
}
.tech.t3 {
  transform: none;
  animation: icon-spin infinite 10s linear;
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes icon-beat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}


/* ================= banner =============== */

.heading {
  font-size: 35px;
  font-weight: bold;
}
.heading .title {
  color: var(--primaryColor);
}
.heading .param {
  font-size: 23px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .heading {
    font-size: 25px;
  }
}

.bg-grid {
  position: relative;
  z-index: 1;
}
.bg-grid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../public/images/grid_bg.png");
  background-size: cover;
  /* background-attachment: fixed; */
  opacity: 0.09;
}

/* ================= about ================ */
.aboutDiv {
  position: relative;
}
.aboutDiv .bubble {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
}
.bubble .MuiAvatar-circular {
  background-color: var(--primaryBgColor);
}

.btn {
  border: none;
  outline: none;
  background: none;
  /* font-size: 17px; */
  color: var(--white) !important;
  font-family: "Courier Prime", monospace !important;
  text-transform: capitalize !important;
  /* padding: 5px 20px !important; */
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: var(--borderRadius) !important;
  cursor: pointer;
  display: flex;
  gap: 15px;
}

.btn.primaryBtn {
  background-color: var(--primaryColorOpacity);
  border: 1px solid var(--primaryColorOpacity) !important;
}
.btn.primaryBtn .MuiButton-endIcon {
  color: var(--primaryColor) !important;
}
.btn.secondaryBtn {
  background-color: var(--secondaryColor);
  border: 1px solid var(--secondaryColor) !important;
}
.btn.secondaryBtn .MuiButton-endIcon {
  color: #1e1e1e !important;
}
.btn.serviceBtn {
  background-color: var(--primaryColor);
  color: var(--hireText) !important;
  text-decoration: underline !important;
  border: 1px solid var(--primaryColor) !important;
}
.btn.serviceBtn .MuiButton-endIcon {
  color: var(--darkBgColor) !important;
}

.btn.catBtn {
  color: var(--primaryColor) !important;
  border: 1px solid var(--primaryColor);
}

.btn.sendMail {
  background-color: var(--btnSendMailColor) !important;
  border: 1px solid var(--btnSendMailColor) !important;
}
.btn.sendMail .MuiButton-endIcon {
  color: var(--primaryColor) !important;
}

.description {
  font-size: 17px !important;
  text-align: justify !important;
}

.aboutBox {
  background-color: var(--secondaryColor);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 25px 49px;
  color: var(--white);
}
.aboutBox .text {
  color: var(--white);
  font-weight: bold;
  font-size: 25px;
  font-family: "Courier Prime", monospace !important;
}

@media screen and (max-width: 767px) {
  .description {
    font-size: 15px !important;
  }
  .t-gr.t-code {
    font-size: 13px !important;
  }

  /* #about button,
  #about .btn {
    padding: 5px 15px !important;
  } */
  .aboutBox {
    align-items: flex-start;
    gap: 1rem;
    padding: 25px 30px;
  }
  .aboutBox .text {
    font-size: 20px;
  }
}
/* ================= about ================ */

/* ================= skills ================ */
.bg_dark {
  background-color: var(--darkBgColor) !important;
}

.technos .tech {
  width: 85px;
  transition: 0.5s;
  padding-top: 0.5rem;
  border: solid 1px transparent;
	border-radius: var(--borderRadius);
}
.technos .tech:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px) !important;
}
.techImg {
  width: 85px;
  transition: 0.5s;
}
.techNameDot .name {
  font-size: 12px;
  transition: 0.5s;
}
.techNameDot .dot {
  transition: 0.5s;
}

@media screen and (max-width: 991px) {
  .technos {
    justify-content: center;
  }
  .technos .tech {
    width: 75px;
		border-color: transparent;
  }
  .techImg {
    width: 75px;
  }
  .techNameDot .name {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) {
  .technos {
    justify-content: center;
  }
  .technos .tech {
    width: 65px;
  }
  .techImg {
    width: 65px;
  }
  .techNameDot .name {
    font-size: 10px;
  }
}
/* ================= skills ================ */

/* ================= projects ================ */
#projects {
  position: relative;
  z-index: 1;
}

.projects .card-project {
  transition: 0.5s;
  background-color: var(--projectBgColor) !important;
  backdrop-filter: blur(34px) !important;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.projects .card-project:hover {
  transition: 0.2s;
  background-color: var(--projectBgColor) !important;
  backdrop-filter: blur(34px) !important;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.8);
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
  /* transform: scale(1.01) !important; */
}
.projects .project-footer {
  background-color: var(--projectBgColor) !important;
  backdrop-filter: blur(34px) !important;
}
.projects .project-tech {
  background-color: #6a6969 !important;
  border: 1px solid #c6c6c6 !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
}

/* .projects .MuiCard-root {
  box-shadow: 0 0 0.5rem #000000f5;
}

.projects .MuiAvatar-root {
  border: none !important;
  box-shadow: 0 0.05rem 0.18rem #ffffff73;
} */

.categoryBtn {
  border: 3px solid var(--primaryColor);
  padding: 14px 61px;
}
.t-code {
  font-family: "Courier Prime", monospace !important;
}

a.t-gr:hover {
  text-decoration: none !important;
}
a:hover {
  color: var(--primaryColor);
}
a.t-gr {
  text-decoration: underline;
}

.projects .category {
  /* background-color: var(--thirdColor); */
  border: 1px solid var(--thirdColor);
  border-radius: 50rem;
  padding: 1px 6px;
  font-size: 12px;
  font-weight: normal;
  color: var(--white);
}

/* modal */

.MuiModalDialog-root.MuiModalDialog-layoutFullscreen {
  background-color: transparent !important;
  backdrop-filter: blur(10px) !important;
  /* background-color: var(--joy-palette-background-backdrop) !important;
	backdrop-filter: blur(8px) !important; */
}

.MuiModalDialog-root .MuiModalClose-root {
  border-color: #73738c;
}

.MuiModalDialog-root p {
  color: var(--);
}
.MuiModalDialog-root h2 {
  color: var(--white) !important;
}

/* ================= projects ================ */

/* ================= services ================ */
.boxes {
}

.boxes .box {
	
}
.boxes .box .box-card:northchild(2) {
	/*background-color: var(--primaryColorOpacity) !important;
	border: 2px solid var(--secondaryColor) !important;*/
}
/* ================= services ================ */

/* ================= contact me ================ */
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  width: 593px;
}

.socialBox {
  background-color: var(--primaryBgColor) !important;
  border-radius: var(--borderRadius) !important;
  color: var(--white);
}
.socialBox .content {
  width: 220px;
}
.socialBox .content img {
  width: 30px;
}
.socialBox .content .text {
  text-transform: none !important;
  color: var(--white);
  font-size: 18px;
}

.formContactDiv .btn span img {
  width: 22px;
}

form {
  position: relative;
}

fieldset {
  border-color: var(--primaryColor) !important;
}
.Mui-error fieldset {
  border-color: #d32f2f !important;
}

label {
  color: var(--primaryColor) !important;
}
label.Mui-error {
  color: #d32f2f !important;
}

input,
textarea {
  width: 100% !important;
  color: var(--primaryColor) !important;
}

/*input, textarea {
	width: 100% !important;
	color: var(--primaryColor) !important;
}

label, label.Mui-focused {
  color: var(--primaryColor) !important;
}

MuiInput-underline:after {
  borderBottomColor: var(--primaryColor);
}
.MuiOutlinedInput-root, fieldset {
	border-color: var(--primaryColor) !important;
}
fieldset:hover {
	border-color: var(--white) !important;
}
.Mui-focused fieldset {
	border-color: var(--primaryColor) !important;
}*/

/* ================= contact me ================ */
